* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Glass Container */
.container {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  width: 320px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  animation: fadeIn 1s ease-in-out;
}

h1 {
  margin-bottom: 20px;
}

/* Input */
input {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

/* Button */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 10px;

  background: #ff7eb3;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff4f81;
  transform: scale(1.05);
}

/* Weather Card */
.card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  animation: slideUp 0.5s ease;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
  font-size: 16px;
}

/* Animations */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}